/********** reset **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*****************/

/***Menu***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--primary);
  z-index: 1000; /** gør indexet højere end alt andet, så den er in front**/
  margin-left: 0;
  margin-right: 0;
}

.logo img {
  width: 195px;
  height: 60px;
  padding-left: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 900px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Figtree", sans-serif;
  font-size: 0.8rem;
}

/******/

.menu li a {
  display: flex;
  align-items: center;
  gap: 10px; /* Afstand mellem tekst og ikon */
}

/******/

.menu a:hover {
  color: var(--white);
  text-decoration: underline;
}

.svg_hover {
  color: var(--white);
  text-decoration: underline;
}

.burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--primary);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 0.8rem;
  }
}
/*******/

h2 {
  font-size: var(--h2mobil);
  font-family: "Figtree", sans-serif;
  color: var(--primary);
  margin-top: var(--space-xl);
}

h3 {
  font-size: var(--h3mobil);
  margin-bottom: var(--space-xl);
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  color: var(--primary);
}

h4 {
  font-size: var(--h4mobil);
  color: var(--white);
  margin-bottom: var(--space-xxs);
  font-family: "Figtree", sans-serif;
}

p {
  color: var(--white);
  line-height: 1.6;
  font-size: var(--pmobil);
  margin-bottom: var(--space-sm);
  font-family: "Figtree", sans-serif;
}

img {
  width: 100%;
  height: auto;
  border-radius: 40px;
  display: block;
}

body {
  background-color: var(--white);
}

main {
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

/* .container {
  display: grid;
  gap: 2rem;
} */

/* .service_item {
  background-color: var(--secondary);
  border-radius: 40px;
  padding: 4rem 2rem 2rem 2rem;
} */

.service_item_primary {
  background-color: var(--primary);
  border-radius: 40px;
  padding: 4rem 2rem 2rem 2rem;
}

.service_item_secondary {
  background-color: var(--secondary);
  border-radius: 40px;
  padding: 4rem 2rem 2rem 2rem;
}

.service_item_accent {
  background-color: var(--accent);
  border-radius: 40px;
  padding: 4rem 2rem 2rem 2rem;
}

.service_item_accent h4 {
  color: var(--primary);
}

.service_item_accent p {
  color: var(--black);
}

.gap_m {
  margin-bottom: var(--space-lg);
}

.img-wrapper {
  height: 300px; /* Højde på containeren */
  width: 100%; /* Gør containeren bred nok til at fylde skærmen */
  overflow: hidden; /* Skjuler det, der går uden for containeren */
  border-radius: 40px; /* Rundede hjørner på containeren */
  position: relative; /* Referencepunkt for absolut positionering */
  margin-bottom: var(--space-lg);
}

.img1 {
  position: absolute; /* Tillader flytning inden for containeren */
  width: 105%; /* Gør billedet bredere end containeren */
  height: auto; /* Bevar proportionerne */
  object-fit: cover; /* Sørger for korrekt beskæring */
  top: -16%;
  left: -5%;
}

.img2 {
  position: absolute;
  width: auto; /* Bredde justeres automatisk */
  height: 120%; /* Sørg for, at billedet altid dækker i højden */
  object-fit: cover; /* Undgår forvrængning */
  top: -19%;
  left: -20%;
}

.img3 {
  width: 100%; /* Billedet fylder containerens bredde */
  height: 100%; /* Billedet fylder containerens højde */
  object-fit: cover; /* Billedet fylder containeren uden at blive forvrænget */
}

.img4 {
  position: absolute;
  width: 110%; /* Bredde justeres automatisk */
  height: auto; /* Sørg for, at billedet altid dækker i højden */
  object-fit: cover; /* Undgår forvrængning */
  top: -53%;
  left: 1%;
  transform: scale(1.4); /* zoom */
}

.booknu_knap_accent {
  background-color: var(--accent);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--primary);
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}

.booknu_knap_primary {
  background-color: var(--primary);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--accent);
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}

@media (min-width: 800px) {
  .linjelængde {
    /* margin-bottom: 2rem; */
    max-width: 600px; /* Maksimal bredde for linjen */
  }

  h2 {
    font-size: var(--h2desktop);
  }

  h3 {
    font-size: var(--h3desktop);
  }

  h4 {
    font-size: var(--h4desktop);
  }

  p {
    font-size: var(--pdesktop);
  }

  main {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .padding {
    padding-top: 7rem;
  }

  .booknu_knap_accent {
    font-size: 1rem;
  }

  .booknu_knap_primary {
    font-size: 1rem;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
  }

  .img-wrapper {
    height: 400px; /* Højde på containeren */
    width: 100%; /* Gør containeren bred nok til at fylde skærmen */
    overflow: hidden; /* Skjuler det, der går uden for containeren */
    border-radius: 40px; /* Rundede hjørner på containeren */
    position: relative; /* Referencepunkt for absolut positionering */
  }

  .img1 {
    position: absolute; /* Tillader flytning inden for containeren */
    width: 105%; /* Gør billedet bredere end containeren */
    height: auto; /* Bevar proportionerne */
    object-fit: cover; /* Sørger for korrekt beskæring */
    top: -5%;
    left: -5%;
  }

  .grid_1fr_4fr {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
  }

  .img2 {
    position: absolute;
    width: 110%; /* Reducér billedets bredde lidt */
    height: auto; /* Bevar proportionerne */
    object-fit: cover; /* Fyld containeren og beskær overskydende */
    top: -61%;
    left: -10%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
  }
}
