/*** css variabler ***/
:root {
  /**farver**/
  --primary: #002855;
  --secondary: #004491;
  --accent: #fcc74d;
  --grey: #ededed;
  --white: #fffbfb;
  --black: RGB(0, 0, 0);

  /** font size **/
  --h1mobil: 2rem;
  --h1desktop: 2.5rem;

  --h2mobil: 1.75rem;
  --h2desktop: 2rem;

  --h3mobil: 1.5rem;
  --h3desktop: 1.75rem;

  --h4mobil: 1.2rem;
  --h4desktop: 1.5rem;

  --pmobil: 0.9375rem;
  --pdesktop: 1.2rem;

  --minitekstmobil: 0.8125rem;
  --minitekstdesktop: 0.875rem;

  /*** css variabl space ***/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

/***Menu***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  z-index: 1000; /** gør indexet højere end alt andet, så den er in front**/
  margin-left: 0;
  margin-right: 0;
  height: 64px;
}

.logo img {
  width: 195px;
  height: 60px;
  padding-left: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 900px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 5px;
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Figtree", sans-serif;
  font-size: 0.8rem;
}

.logind_opret {
  display: flex;
}

#opret {
  background-color: var(--accent);
  border-radius: 10px;
  color: var(--primary);
}

/******/

.menu li a {
  display: flex;
  align-items: center;
  gap: 10px; /* Afstand mellem tekst og ikon */
}

/******/

.menu a:hover {
  color: var(--white);
  text-decoration: underline;
}

.burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--primary);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 0.8rem;
  }
}
/*******/

.booknu_knap_accent {
  background-color: var(--accent);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--primary);
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}

.booknu_knap_primary {
  background-color: var(--primary);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--accent);
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}

h1 {
  font-size: var(--h1mobil);
}

h2 {
  font-size: var(--h2mobil);
  font-family: "Figtree", sans-serif;
  color: var(--primary);
  margin-top: var(--space-xl);
}

h3 {
  font-size: var(--h3mobil);
  margin-bottom: var(--space-xl);
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  color: var(--primary);
}

h4 {
  font-size: var(--h4mobil);
  color: var(--white);
  margin-bottom: var(--space-xxs);
  font-family: "Figtree", sans-serif;
}

p {
  color: var(--white);
  line-height: 1.6;
  font-size: var(--pmobil);
  margin-bottom: var(--space-sm);
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--white);
}

main {
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

@media (min-width: 800px) {
  h1 {
    font-size: var(--h1desktop);
  }

  h2 {
    font-size: var(--h2desktop);
  }

  h3 {
    font-size: var(--h3desktop);
  }

  h4 {
    font-size: var(--h4desktop);
  }

  p {
    font-size: var(--pdesktop);
  }

  main {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .booknu_knap_accent {
    font-size: 1rem;
  }

  .booknu_knap_primary {
    font-size: 1rem;
  }
}

/******* Footer ******/

.footer_container {
  background-color: #002855;
  letter-spacing: 3px;
  padding-top: 30px;
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.footer_flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footer_bottom {
  margin: 10px;
  padding: 20px;
}

.footer_section li,
a,
h5 {
  color: #fffbfb;
  text-decoration: none;
  list-style-type: none;
}

.footer_section h5 {
  font-size: 30px;
  margin-bottom: 0;
}

.footer_section a {
  font-size: 20px;
  font-weight: lighter;
  line-height: 25px;
}

.sociale_medier i {
  font-size: 30px;
  color: #fffbfb;
  letter-spacing: 10px;
  padding-bottom: 15px;
}

.kontaktinfo_footer {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.kontaktinfo_footer i {
  font-size: 10px;
  color: #fffbfb;
  margin-top: 13px;
}

.footer_logo {
  grid-column: 2/3;
  grid-row: 1/4;
}

.footer_logo img {
  width: 110px;
  height: 750px;
}

.footer_bottom p {
  color: #fffbfb;
  font-size: 10px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: left;
}

.kontaktinfo_footer hr {
  display: none;
}

@media (min-width: 800px) {
  .footer_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_logo img {
    height: 500px;
    width: 80px;
    margin-left: 300px;
    margin-right: 20px;
  }

  .footer_section a {
    font-size: 20px;
    font-weight: lighter;
    line-height: 40px;
  }

  .footer_section {
    padding-right: 100px;
  }
  .footer_container {
    padding-top: 40px;
    padding-inline: 50px;
  }

  .kontaktinfo_footer hr {
    background-color: #fffbfb;
    color: #fffbfb;
    width: 0.5px;
    height: 20px;
  }

  .footer_bottom p {
    font-size: 15px;
  }

  .kontaktinfo_footer {
    display: flex;
    flex-direction: row;
    width: 400px;
  }

  .sociale_medier i {
    font-size: 50px;
    color: #fffbfb;
    letter-spacing: 10px;
    padding-bottom: 15px;
  }
  .footer_logo {
    position: sticky;
    bottom: 10px;
    right: 2px;
  }
}

@media (max-width: 800px) {
  .footer_section {
    padding-left: 30px;
  }

  .footer_logo {
    text-align: right;
  }
}
