/*** css variabler ***/
:root {
  /**farver**/
  --primary: #002855;
  --secondary: #004491;
  --accent: #fcc74d;
  --grey: #ededed;
  --white: #fffbfb;
  --black: RGB(0, 0, 0);

  /** font size **/
  --h1mobil: 2rem;
  --h1desktop: 2.5rem;

  --h2mobil: 1.75rem;
  --h2desktop: 2rem;

  --h3mobil: 1.5rem;
  --h3desktop: 1.75rem;

  --h4mobil: 1.2rem;
  --h4desktop: 1.5rem;

  --pmobil: 0.9375rem;
  --pdesktop: 1.2rem;

  --minitekstmobil: 0.8125rem;
  --minitekstdesktop: 0.875rem;

  /*** css variabl space ***/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}

.booknu_knap_accent {
  background-color: var(--accent);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--primary);
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}

.booknu_knap_primary {
  background-color: var(--primary);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--accent);
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}

h1 {
  font-size: var(--h1mobil);
}

h2 {
  font-size: var(--h2mobil);
  font-family: "Figtree", sans-serif;
  color: var(--primary);
  margin-top: var(--space-xl);
}

h3 {
  font-size: var(--h3mobil);
  margin-bottom: var(--space-xl);
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  color: var(--primary);
}

h4 {
  font-size: var(--h4mobil);
  color: var(--white);
  margin-bottom: var(--space-xxs);
  font-family: "Figtree", sans-serif;
}

p {
  color: var(--white);
  line-height: 1.6;
  font-size: var(--pmobil);
  margin-bottom: var(--space-sm);
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--white);
}

main {
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

@media (min-width: 800px) {
  h1 {
    font-size: var(--h1desktop);
  }

  h2 {
    font-size: var(--h2desktop);
  }

  h3 {
    font-size: var(--h3desktop);
  }

  h4 {
    font-size: var(--h4desktop);
  }

  p {
    font-size: var(--pdesktop);
  }

  main {
    margin-left: var(--space-xl);
    margin-right: var(--space-xl);
  }

  .booknu_knap_accent {
    font-size: 1rem;
  }

  .booknu_knap_primary {
    font-size: 1rem;
  }
}
